# vs solution files #
#####################
*.sln
*.suo
obj/

# vs project files #
####################
*.pyproj
main.py

# log files #
#############
*.log

*.pyc
settings.ini
build/
dist/
*.egg-info/
